<head>
  <title>SAKE ZUKI</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="container">
  <%= render 'shared/before_login_header' %>
    <h1>SAKE ZUKI</h1>
    <div class="animal-image">
    </div>
    <div class="footer">
    <%= render 'shared/before_login_footer' %>
    </div>
  </div>
</body>
</html>