<form action="/save_character" method="post">
  <div class="characters-container">
    <!-- 仮にキャラクターが4つあるとして、それぞれに対応する画像とラジオボタンを表示 -->
    <label for="character_panda">
      <input type="radio" name="character_id" value="1" id="character_panda">
      <%= image_tag('panda.png', alt: 'Panda') %>
      <p>Panda</p>
    </label>

    <label for="character_gorilla">
      <input type="radio" name="character_id" value="2" id="character_gorilla">
      <%= image_tag('gorilla.png', alt: 'Gorilla') %>
      <p>Gorilla</p>
    </label>

    <label for="character_crocodile">
      <input type="radio" name="character_id" value="3" id="character_crocodile">
      <%= image_tag('crocodile.png', alt: 'Crocodile') %>
      <p>Crocodile</p>
    </label>

    <label for="character_bear">
      <input type="radio" name="character_id" value="4" id="character_bear">
      <%= image_tag('bear.png', alt: 'Bear') %>
      <p>Bear</p>
    </label>
  </div>
  
  <!-- CSRF Token -->
  <input type="hidden" name="authenticity_token" value="YOUR_CSRF_TOKEN">

  <button type="submit">選択完了</button>
</form>