<!DOCTYPE html>
<html>
<head>
  <title>飲酒グラフ</title>
  <%= javascript_include_tag "Chart.bundle" %> <!-- Chartkickに必要なChart.jsを読み込む -->
  <%= javascript_include_tag "chartkick" %> <!-- ChartkickのJavaScriptを読み込む -->
</head>
<body>
  <h1>飲酒グラフ</h1>

  <!-- Chartkickを使用してカラムチャートを表示 -->
  <%= column_chart @chart_data, height: '500px', round: 2, suffix: "g", library: {
    title: {text: 'Daily Alcohol Intake by Grams', x: -20},
    yAxis: {title: {text: 'Alcohol Grams'}}
  } %>

  <!-- 総アルコール摂取量の表示 -->
<div class="total_alcohol text-center mt-5">
<% if @chart_data.values.sum == 0 %>
<div class="total_alcohol text-center mt-5">
  <p>データがありません。</p>
</div>
<% end %>
</div>
  <%= link_to '戻る', top_path, class: "button back-button" %>
</body>
</html>