<h2>動物を選ぼう！</h2>

<!-- ここに動物選択のためのビューを追加します。例えば、各動物の画像に対応するリンクを表示することができます。 -->

<div class="animal-selection">
  <% # ここで動物のデータをイテレーション処理 %>
  <% @animals.each do |animal| %>
    <%= link_to image_tag(animal.image_url), choose_animal_path(animal) %>
  <% end %>
</div>

<%= link_to '確定', some_path, method: :post, class: "button" %>