<h2>動物を選ぼう！</h2>

<div class="character-selection">
  <% @characters.each do |character| %>
    <div class="character">
      <!-- 画像を表示するために、characterモデルのimage_url属性を使います -->
      <%= link_to image_tag(character.image_url), character_path(character) %>
    </div>
  <% end %>
</div>

<%= link_to '確定', confirm_characters_path, method: :post, class: "button" %>