.character-speech {
  position: relative;
  display: inline-block; /* または必要に応じて別のディスプレイプロパティ */
  margin: 20px;
}

.speech-text {
  position: absolute;
  top: 50%; /* 吹き出し画像内のテキストの位置を調整 */
  left: 50%; /* 吹き出し画像内のテキストの位置を調整 */
  transform: translate(-50%, -50%); /* テキストを中央に配置 */
  color: black; /* テキストの色 */
  font-size: 16px; /* テキストのサイズ */
  width: 90%; /* 吹き出し内でテキストが占める幅 */
  text-align: center; /* テキストを中央揃えに */
}


.notice {
  color: green;
}

.alert {
  color: red;
}

body, button, input, textarea {
  font-family: 'DotGothic16', sans-serif;
}
.body-background {
  background-image: url('/assets/animal.png'); /* このパスはプリコンパイル後のパスに依存します */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .body-background {
    background-image: asset-url('animal1.png'); /* Sassの場合 */
  }
}